body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.container{
    max-width: 800px;
    margin: 0 auto;
    color: #7d7373;
    padding-top: 50;
    padding-right: 20;
    padding-left: 15;
    font:sans-serif;
}    
